<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <title>OSWC: Terms of Service</title>
</head>
<body>
<p> This website is operated by Om Sai Wealth Creator(hereinafter referred to as “We” / “Us” / “Our”) to service Clients and
Users. The term “Client” means and includes all registered and active users of the site. The term “You” / “User” /
“Users” means and includes all those persons who gain access to the site and includes all Clients (as defined
herein above).</p>

<p> By using our site, you agree to comply with and be bound by the following terms of use. Please review the following
    terms carefully. If you do not agree to these terms, you should not review information or use services of this site.</p>

<h4>Acceptance of Agreement</h4>
<p>You agree to the terms and conditions outlined in this Terms of Use Agreement with respect to our Site. This Agreement
constitutes the entire and only agreement between us and you, and supersedes all prior or contemporaneous agreements,
representations, warranties and understandings with respect to the site, the content, services provided by or through
our site and the subject matter of this Agreement. However, we reserve our rights to carry out the periodical changes,
to our site, which we deem fit and required for the benefits and larger interests of our clients and users.

<h4>Copyright</h4>
<p>The context, text, layout, organization, graphics, design, video, compilation, digital conversion and other matters
related to the Site are protected under applicable copyrights, trademarks and other proprietary (including but not
limited to intellectual property) rights. The copying, redistribution, use or publication by you of any such matters or
any part of the Site is strictly prohibited. You do not acquire ownership rights to
any content, document, information or other materials viewed through our Site. The posting of information on the Site
    does not constitute a waiver of any right in such information.</p>

<h4>Trademarks</h4>
<p>All the Site items are our trademarks or registered Trademarks or property. All rights reserved.</p>

<h4>Limited Right to Use</h4>
<p>The viewing, printing or downloading of any content, text, information, opinion, material, graphic, form or document
from the site grants you only a limited, non-exclusive license for use, solely by you (investor), for your own personal
use and not for re-publication, distribution, assignment, sub-license, sale, preparation of derivative works or other
use of commercial purpose. Since membership is for Investor’s personal use, it cannot be shared. No part of any content,
form or document may be reproduced in any form or incorporated into any information retrieval system, electronic or
physical, other than for your personal use (but not for resale or redistribution). Any violation intentionally or
    unintentionally will result in account termination.</p>

<h4>Alteration and Modification</h4>
<p>We reserve the unqualified and unlimited right to amend, modify, alter, edit, delete, suspend or discontinue,
temporarily or permanently, the Site or any portion thereof and/or the information, statistics, services and/or
materials contained and provided on the site or any part thereof, with or without prior notice. Clients and Users
understand and agree we shall not be liable in any manner whatsoever to them or to any third party for any such
amendment, modification, alteration, editing, deletion, suspension or discontinuance of the site. Any such modification
    would be carried out at our discretion.</p>

<h4>Indemnification</h4>
<p>You agree to indemnify, defend and hold us and our partners, attorneys, staff and affiliates (collectively, “Affiliated
Parties”) harmless from any liability, loss, claim and expense, including reasonable attorney’s fees, related to your
violation of this agreement or use of this site.

<h4>Non-transferable</h4>
<p>Your right to use the site is not transferable. Any password or right given to you to obtain information, content,
document or messages (via any channel such as SMS, Email, Mobile APP, Browser Notifications and other) is not
transferable. Any violation in the same will be considered as a breach of Agreement and liable to immediate account
    termination.</p>

<p>The site contains information, statements, opinions, statistics and materials that have been obtained from sources
believed to be reliable and an effort has been made to provide accurate information. However, we make no guarantees
whatsoever regarding the timeliness, completeness, accuracy, adequacy, fullness, functionality or reliability of the
    information, statements, opinions and materials contained, provided and posted on any section of the Site.</p>

<p>The information and services may contain bugs, errors, problems or other limitations. We and our affiliated parties have
no liability whatsoever for your use of any information or service. In particular, but not as a limitation thereof, we
and our affiliated parties are not liable for any indirect, special, incidental or consequential damages (including
damages for loss of business, loss of profits, litigation, or the like), whether based on breach of contract, breach of
warranty, tort (including negligence) or otherwise, even if advised of the possibility of such damages. This site and
the information would not be provided without such limitations. No advice or information, whether oral or written,
obtained by you from us through the site shall create any warranty, representation or guarantee not expressly stated in
    this Agreement.</p>

<p>All responsibility or liability for any damages caused by viruses contained within the electronic file containing the
content, form or document is disclaimed. We will not be liable to you for any incidental, special or consequential
    damages of any kind that may result from use of or inability to use our Site.</p>

<h4>Use of Information</h4>
<p>You understand and agree that any action taken or decision made based on the information, statements and/or opinions
contained,provided, posted, made or expressed on the site will be taken or made by you at your own risk without any
recourse whatsoever to us. The information , statements, opinions and materials contained on the site are for Private
    use only and not intended for use in any commercial activity or purpose.</p>

<p>We reserve the right, and you authorize us, to the use and assignment of all the information regarding site uses by you
    and all information provided by you in any manner consistent with our Privacy Policy.</p>

<h4>Privacy Policy</h4>
<p>Our Privacy Policy, as it may change from time to time, is a part of this Agreement. </p>


<h4>Jurisdiction </h4>
<p>This Agreement shall be treated as though it were executed and performed in Delhi, India, and shall be governed by and
construed in accordance with the local laws (without regard to conflict of law principles). Any cause of action by you
with respect to site (and/or any information or services related thereto) must be instituted within one(1) week after
the cause of action arose or be forever waived and barred. All actions shall be subject to the the limitations set forth
above points. The language in this Agreement shall be interpreted as to its fair meaning and not strictly for or against
either party. All legal proceedings arising out of or in connection with this Agreement shall be subject to Mumbai
    jurisdiction only. You expressly submit to the exclusive jurisdiction of said courts.</p>

<p>Should any part of this Agreement be held invalid or unenforceable, that portion shall be construed consistent with the
applicable law and the remaining portions shall remain in full force and effect. To the extent that anything in or
associated with the site is in conflict or inconsistent with this agreement, this Agreement shall take precedence. Our
failure to enforce any provision of the Agreement shall not be deemed a waiver of such provision nor of the right to
    enforce such provision.</p>

<h4> Miscellaneous </h4>
<p>We reserve the right to add, alter , modify, withdraw, replace, wholly or in part, any of the contents and/or columns
and/or sections by any other contents and/or columns and/or sections, whether similar or not, or withdraw it altogether
    without any prior notice. In case of dispute with any party, our decision will be binding and final.</p>
</body>
</html>